body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1931px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1222px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u316 {
  position:absolute;
  left:11px;
  top:0px;
  width:1920px;
  height:1222px;
}
#u317 {
  position:absolute;
  left:2px;
  top:603px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:230px;
}
#u319 {
  position:absolute;
  left:21px;
  top:0px;
  width:721px;
  height:230px;
}
#u320 {
  position:absolute;
  left:2px;
  top:107px;
  width:717px;
  visibility:hidden;
  word-wrap:break-word;
}
#u321 {
  position:absolute;
  left:1025px;
  top:78px;
  width:715px;
  height:67px;
}
#u321_input {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:67px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u322 {
  position:absolute;
  left:1773px;
  top:83px;
  width:50px;
  height:50px;
}
#u323 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:84px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u324 {
  position:absolute;
  left:21px;
  top:274px;
  width:280px;
  height:84px;
  font-size:28px;
}
#u325 {
  position:absolute;
  left:2px;
  top:26px;
  width:276px;
  word-wrap:break-word;
}
#u326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:84px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u326 {
  position:absolute;
  left:311px;
  top:274px;
  width:280px;
  height:84px;
  font-size:28px;
}
#u327 {
  position:absolute;
  left:2px;
  top:26px;
  width:276px;
  word-wrap:break-word;
}
#u328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:84px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u328 {
  position:absolute;
  left:601px;
  top:274px;
  width:280px;
  height:84px;
  font-size:28px;
}
#u329 {
  position:absolute;
  left:2px;
  top:26px;
  width:276px;
  word-wrap:break-word;
}
#u330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:84px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u330 {
  position:absolute;
  left:891px;
  top:274px;
  width:280px;
  height:84px;
  font-size:28px;
}
#u331 {
  position:absolute;
  left:2px;
  top:26px;
  width:276px;
  word-wrap:break-word;
}
#u332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:84px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u332 {
  position:absolute;
  left:1181px;
  top:274px;
  width:280px;
  height:84px;
  font-size:28px;
}
#u333 {
  position:absolute;
  left:2px;
  top:26px;
  width:276px;
  word-wrap:break-word;
}
#u334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u334 {
  position:absolute;
  left:1546px;
  top:274px;
  width:84px;
  height:84px;
}
#u335 {
  position:absolute;
  left:2px;
  top:34px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u336 {
  position:absolute;
  left:1645px;
  top:274px;
  width:84px;
  height:84px;
}
#u337 {
  position:absolute;
  left:2px;
  top:34px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u338 {
  position:absolute;
  left:1742px;
  top:274px;
  width:84px;
  height:84px;
}
#u339 {
  position:absolute;
  left:2px;
  top:34px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:84px;
}
#u340 {
  position:absolute;
  left:1840px;
  top:274px;
  width:69px;
  height:84px;
}
#u341 {
  position:absolute;
  left:2px;
  top:34px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u342 {
  position:absolute;
  left:42px;
  top:387px;
  width:502px;
  height:57px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u343 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  white-space:nowrap;
}
#u344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:247px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u344 {
  position:absolute;
  left:11px;
  top:975px;
  width:1920px;
  height:247px;
}
#u345 {
  position:absolute;
  left:2px;
  top:116px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u346 {
  position:absolute;
  left:527px;
  top:1010px;
  width:270px;
  height:42px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u347 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  white-space:nowrap;
}
#u348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u348 {
  position:absolute;
  left:527px;
  top:1057px;
  width:322px;
  height:99px;
  font-size:28px;
}
#u349 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  word-wrap:break-word;
}
#u350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u350 {
  position:absolute;
  left:87px;
  top:1013px;
  width:300px;
  height:170px;
}
#u351 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u352 {
  position:absolute;
  left:1013px;
  top:1062px;
  width:37px;
  height:37px;
}
#u353 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u354 {
  position:absolute;
  left:1011px;
  top:1109px;
  width:40px;
  height:40px;
}
#u355 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u356 {
  position:absolute;
  left:1060px;
  top:1062px;
  width:322px;
  height:33px;
  font-size:28px;
}
#u357 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  word-wrap:break-word;
}
#u358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u358 {
  position:absolute;
  left:1061px;
  top:1114px;
  width:322px;
  height:33px;
  font-size:28px;
}
#u359 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  word-wrap:break-word;
}
#u360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u360 {
  position:absolute;
  left:1490px;
  top:1013px;
  width:411px;
  height:42px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u361 {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  white-space:nowrap;
}
#u362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u362 {
  position:absolute;
  left:1490px;
  top:1065px;
  width:411px;
  height:99px;
  font-size:28px;
}
#u363 {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  word-wrap:break-word;
}
#u364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u364 {
  position:absolute;
  left:1633px;
  top:381px;
  width:69px;
  height:69px;
}
#u365 {
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u366 {
  position:absolute;
  left:313px;
  top:479px;
  width:256px;
  height:49px;
}
#u366_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:49px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u367 {
  position:absolute;
  left:313px;
  top:559px;
  width:256px;
  height:49px;
}
#u367_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:49px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u368 {
  position:absolute;
  left:124px;
  top:487px;
  width:157px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u369 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u370 {
  position:absolute;
  left:124px;
  top:567px;
  width:154px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u371 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u372 {
  position:absolute;
  left:157px;
  top:658px;
  width:121px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u373 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u374 {
  position:absolute;
  left:313px;
  top:650px;
  width:256px;
  height:49px;
}
#u374_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:49px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u375 {
  position:absolute;
  left:157px;
  top:746px;
  width:112px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u376 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u377 {
  position:absolute;
  left:313px;
  top:738px;
  width:256px;
  height:49px;
}
#u377_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:49px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u378 {
  position:absolute;
  left:313px;
  top:837px;
  width:256px;
  height:48px;
}
#u378_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:48px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
}
#u378_input:disabled {
  color:grayText;
}
#u379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u379 {
  position:absolute;
  left:146px;
  top:845px;
  width:129px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u380 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u381 {
  position:absolute;
  left:638px;
  top:479px;
  width:172px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u382 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u383 {
  position:absolute;
  left:820px;
  top:471px;
  width:256px;
  height:49px;
}
#u383_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:49px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u384 {
  position:absolute;
  left:712px;
  top:567px;
  width:88px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u385 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u386 {
  position:absolute;
  left:820px;
  top:559px;
  width:256px;
  height:49px;
}
#u386_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:49px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u387 {
  position:absolute;
  left:597px;
  top:658px;
  width:204px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u388 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u389 {
  position:absolute;
  left:820px;
  top:650px;
  width:256px;
  height:49px;
}
#u389_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:49px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u390 {
  position:absolute;
  left:633px;
  top:754px;
  width:164px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u391 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u392 {
  position:absolute;
  left:824px;
  top:746px;
  width:256px;
  height:49px;
}
#u392_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:49px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u393 {
  position:absolute;
  left:727px;
  top:837px;
  width:70px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u394 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u395 {
  position:absolute;
  left:820px;
  top:829px;
  width:256px;
  height:49px;
}
#u395_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:49px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u396 {
  position:absolute;
  left:1110px;
  top:479px;
  width:213px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u397 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u398 {
  position:absolute;
  left:1333px;
  top:471px;
  width:256px;
  height:49px;
}
#u398_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:49px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:151px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u399 {
  position:absolute;
  left:1126px;
  top:734px;
  width:504px;
  height:151px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u400 {
  position:absolute;
  left:2px;
  top:59px;
  width:500px;
  word-wrap:break-word;
}
